/*************** FOOTER ****************/
ul #menu-menu-footer.menu {
    display: flex;
    justify-content: center;  
}

/* Ajouter de l'espace entre les liens du menu footer */
.footer .menu-item {
    margin-right: 100px; 
}

footer {
    margin-top: 30px;
    margin-bottom: 2px;
    background-color: #ffffff; 
}

/* Ajouter une ligne continue au-dessus du footer */
footer::before {
    content: "";
    display: block;
    border-top: 1px solid #000000; 
    margin-top: 30px; 
    margin-bottom: -5px;
}

/* CSS pour la version mobile du footer */
@media (max-width: 767px) {
    .footer .menu-item {
        margin-right: 0; 
        margin-bottom: 10px; 
        text-align: center; 
    }

    ul#menu-menu-footer.menu {
        flex-direction: column-reverse; 
        align-items: center; 
        margin-top: 50px;
        margin-bottom: 30px;
    }

    footer::before {
        margin-top: 10px; 
    }
}

