/* Lightbox Styles */
@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn 2s;
    transition: opacity 0.5s; /* Ajoute une transition pour le changement d'opacité */
}

.lightbox__next,
.lightbox__prev {
    border: none;
    width: 100px;
    height: 50%;
    position: fixed;
    top: 50%;
    z-index: 12;    
}

.lightbox__next {
    background: url(assets/images/arrows-next.png) center center / 93px 18px no-repeat;
    right: 8%;
    margin-top: -250px;   
}

.lightbox__prev {
    background: url(assets/images/arrows-prev.png) center center / 93px 18px no-repeat; 
    left: 8%;  
    margin-top: -250px;
}

.lightbox__close {
    border: none;
    width: 15px;
    height: 15px;
    background: url(assets/images/ligthbox-close.png) center center / 23px 23px no-repeat; 
    position: fixed;
    top: 30px;
    right: 40px; /* Ajustement de la position de la croix */
    z-index: 13; /* Assure que la croix est au-dessus des flèches */
}

#lightbox button {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .3s; 
}

#lightbox button:hover {
    opacity: 1;
}

.lightbox__container img {
    max-width: calc(90% - 40px); /* Limite la largeur de l'image à 90% de la largeur de la lightbox */
    max-height: calc(90% - 40px); /* Limite la hauteur de l'image à 90% de la hauteur de la lightbox */
    object-fit: contain; /* Maintient les proportions de l'image tout en s'assurant qu'elle s'adapte à la lightbox */
    animation: lightboxIn 2s;
}

.lightbox__container {
    position: relative; /* Ajoute une position relative pour centrer verticalement */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Assure que la lightbox a la hauteur de l'écran */
    padding: 20px 0; /* Ajoute de l'espace en haut et en bas de la lightbox */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
    overflow: hidden; /* Masque tout contenu débordant de la lightbox */
}

.lightbox__metadata {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    margin-bottom: 2em;
}

.lightbox__reference,
.lightbox__category {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    margin-left: auto; /* Aligne la référence à droite */
}

.lightbox__category {
    margin-right: auto; /* Aligne la catégorie à gauche */
}



/* CSS pour la version mobile */
@media (max-width: 767px) {
    .lightbox__next,
    .lightbox__prev {
        position: fixed;
        z-index: 12;
        padding-bottom: 36em;
    }

    .lightbox__next {
        right: 5%;
        top: calc(50% + 40vh); /* Positionne la flèche à 40% en dessous du centre de l'écran */
    }

    .lightbox__prev {
        left: 5%;
        top: calc(50% + 40vh); /* Positionne la flèche à 40% en dessous du centre de l'écran */
    }

    .lightbox__close {
        border: none;
        width: 15px;
        height: 15px;
        background: url(assets/images/ligthbox-close.png) center center / 23px 23px no-repeat;
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 13;
    }

    .lightbox__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* Utilisez 100vh pour occuper toute la hauteur de la vue */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }  

    .lightbox__container img {
        max-width: 80vw; /* Limiter la largeur de l'image à 80% de la largeur de la vue */
        max-height: 80vh; /* Limiter la hauteur de l'image à 80% de la hauteur de la vue */
        object-fit: contain;
        animation: lightboxIn 2s;
        height: auto; /* Réinitialiser la hauteur */
        width: auto; /* Réinitialiser la largeur */
        margin-bottom: 5em;
    }

    .lightbox__metadata {
        position: absolute;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .lightbox__reference,
    .lightbox__category {
        color: white;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }
}


