/* CSS pour la mise en forme de page.php */

.page-container {
    max-width: 1440px; 
    margin: 50px auto;  
    padding: 20px; 
}

.page-content {
    text-align: left; 
}

.page-content h1 {
    text-align: center; 
}

