/**************** POLICES ***************/
/* Police SpaceMono */
@font-face {
    font-family: 'Space Mono';
    src:  url('assets/fonts/SpaceMono-Bold.ttf') format('truetype'),
        url('assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/SpaceMono-Italic.ttf') format('truetype'),
        url('assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}  

/* Police Poppins */
@font-face {
    font-family: 'Poppins';
    src:  url('assets/fonts/Poppins-Light.ttf') format('truetype');
}  

/*************** STYLES THEME ***************/
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100%;
    background: #ffffff; 
    color: #23282d; 
    font-family: 'Space Mono', sans-serif;     
}

/* Styles pour une largeur de 1440px */
@media screen and (min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: 0 auto; /* Centre le contenu sur l'écran */
    }
}

/* footer, div[class^="menu"] {
    background-color: #eee;
}  */

.menu-item {
    display: inline-block;   
}

p {
    font-family: 'Poppins', sans-serif; 
    font-size: 14px; 
    line-height: 21px; 
}

.titre-page {
    display: none;
    }

main, footer > p, body > h1, .menu {
margin-left: auto;
margin-right: auto;
}

main figure {
    margin-left: 0px;
    margin-right: 0;
}

article {
    width: 300px;
    margin-top: 30px;
}

#accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article img:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}